SIGNALWIRE_PROJECT_KEY=<YOUR SIGNALWIRE PROJECT KEY>
SIGNALWIRE_TOKEN=<YOUR SIGNALWIRE TOKEN>
SIGNALWIRE_TASK_HOST=<YOUR SIGNALWIRE SPACE>
FROM_NUMBER=+1555778899
API_URL=http://sinatra:9292
PHONE_NUMBERS=+15559988777,+14445557777,+15552233444
AGENT_NUMBER=+15559988444