.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

.navbar {
  background-color: #eee;
  border-bottom: 1px solid #333;
}

#numbers {
  width: 100%;
  height: 400px;
}

.text-right {
  text-align: right;
}

#messages {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.l-box {
  padding: 1em;
}